*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Monda', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #1b262c;
}

.container{
    width: 100%;
    background: #1b262c;
}

.header{
    width: 500%;
}

.header nav{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 30px 20px;
    z-index: 2;
}

.header nav ul{
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.header nav ul li a{
    font-weight: 550;
    text-decoration: none;
    font-family: 'Monda', sans-serif;
}

.header nav ul li a.change-color{
    color: #ffffff;
}

.header nav ul li a:hover{
    color: #00b7c2;
}

.header nav.sticky{
    padding: 20px 20px;
    background: #1b262c;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.7);
}

.cv{
    border: 2px solid #00b7c2;
    padding: 1px 20px;
    background: #00b7c2;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border-radius: 5px; 
}

.cv:hover{
    border: 2px solid #ffffff;
    background: #ffffff;
    transition: 0.2s ease-in-out;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 30px;
    height: 25px;
    left: -1px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000000;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #ffffff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #ffffff;
    transform : rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform : scale(0);
}

.menu-toggle input:checked{
    left: 0;
}

.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(27,38,44,0.8), rgba(27,38,44,0.8)),url(../img/image5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-section{
    height: 100%;
    max-width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-title{
    line-height: 70px;
}

.home-title-introduction{
    font-family: 'Monda', sans-serif;
    font-size: 30px;
    opacity: 1;
}

.home-title-name{
    font-family: 'Kanit', sans-serif;
    font-size: 75px;
    color: #ffffffef;
}

.home-title-job{
    font-family: 'Kanit', sans-serif;
    margin-top: 20px;
    font-size: 35px;
    opacity: 1;
    color: #00b7c2;
}

.home-title-social-media{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-title-social-media img{
    transition: 0.5s ease;
    margin: 0 20px;
    width: 40px;
}

.github img{
    border-radius: 2px;
}

.home-title-social-media img:hover{
    transition: 0.5s ease;
    transform: scale(1.4);
}

.about{
    width: 100%;
}

.about-section{
    max-width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.about-section-title{
    color: #00b7c2;
    font-size: 40px;
    margin-top: 6rem;
}

.about-section-details{
    justify-content: space-between;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.7fr
}

.about-section-details-text{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    text-align: justify;
}

.text-space{
    margin-top: 1rem;
}

.about-section-details-text p a {
    text-decoration: none;
    color: #00b7c2;
}

.about-section-details-image{
    max-width: 60%;
    margin-left: 40%;
    height:auto;
}

.about-section-details-image a img{
    border-radius: 10px;
    width: 100%;
}

.about-section h3{
    color: #00c0ca;
    margin-top: 1rem;
    font-size: 25px;
}

.experience {
    width: 100%;
}

.experience-section {
    max-width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.experience-section-title {
    color: #00b7c2;
    font-size: 40px;
    margin-top: 8rem;
}

.experience-section-details {
    text-align: center;
}

.experience-section-details div a  {
    text-decoration: none;
}

.experience-section-details div h3 {
    color: #00b7c2;
    font-size: 25px;
    margin-bottom: 1rem;
}

.experience-section-details div {
    margin-top: 2rem;
    padding: 2rem;
    border: 5px solid #00b7c2;
    border-radius: 30px;
    animation: showNav 500ms ease-in-out both;
}

.experience-section-details div p a {
    color: #00b7c2;
}

.experience-section-details div p a {
    color: #00b7c2;
}
.portfolio{
    width: 100%;
}

.portfolio-section{
    max-width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.portfolio-section-title{
    margin-top: 8rem;
    color: #00b7c2;
    font-size: 40px;
}

.portfolio-section h3{
    color: #00c0ca;
    margin-top: 2rem;
    font-size: 35px;
}

.portfolio-section-details{
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    text-align: center;
}

.portfolio-section-details h4 {
    color: #00c0ca;
    margin-top: 3rem;
    font-size: 30px;
}

.portfolio-section{
    margin-top: 8rem;
}

.portfolio-content {
    max-width: 80%;
    margin-left: 10%;
}

.portfolio-content img {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.portfolio-content p {
    margin-top: 1rem;
    text-align: justify;
}

.portfolio-content ul {
    margin-left: 20px;
}

.portfolio-content div {
    margin-top: 1rem;
    display: flex;
}

.portfolio-content div a {
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #00b7c2;
    background-color: #00b7c2;
    padding: 10px;
    border-radius: 10px;
}

.second-a {
    margin-left: 1rem;
}

.notfirst {
    margin-top: 8rem;
}

.portfolio-section h6, .experience-section h6 {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #00b7c2;
    width: 150px;
    margin: 2rem auto 0 auto;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.link-show{
    text-decoration: none;
}

.portfolio-section h6:hover, .experience-section h6:hover {
    background: #00b7c2;
    transition: 0.5s ease;
}

.contact{
    width: 100%;
}

.contact-section{
    margin-top: 14rem;
    max-width: 60%;
    margin-left: 20%;
    text-align: center;
}

.contact-section h1{
    font-size: 50px;
    color: #00b7c2;
}

.contact-section p{
    max-width: 60%;
    margin-left: 20%;
    margin-top: 1rem;
    font-size: 20px;
    font-family: 'Monda', sans-serif;
}

.contact-details{
    max-width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding-bottom: 6rem;
    margin-top: 2rem;
}

.contact-details a {
    text-decoration: none;
    border: 2px solid #00b7c2;
    border-radius: 10px;
    background-color: #00b7c2;
    padding: 10px;
}

.contact-details div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details div h5{
   margin-top: 2rem;
   font-size: 23px;
   color: #008991;
}

.contact-details div h3{
    font-size: 22px;
    color: #ffffff;
    margin-left: 1rem;
 }

.social-media div{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact-details div img{
    width: 35px;
    height: 35px;
}

.social-media div img:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
}

.created-by{
    margin-top: 10%;
    max-width: 80%;
    margin-left: 10%;
    text-align: center;
    padding-bottom: 1rem;
}

.created-by a{
    text-decoration: none;
    color: #00b7c2;
}

.created-by a:hover{
    opacity: 0.7;
}

.disappear-0 {
    display: none;
}

.disappear{
    display: none;
}

::-webkit-scrollbar{
    width: 9px;
    background: #1b262c;
}

::-webkit-scrollbar-thumb{
    background: #00b7c2;
    border-radius: 6px;
}

@keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 1450px){
    .contact-details{
        max-width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 1148px){
    .contact-details{
        grid-template-columns: repeat(1,1fr);
    }

    .social-media div{
        justify-content: center;
    }

    .social-media img{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1100px){
    .about-section-details-image{
        max-width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 800px){
    .home-title {
        line-height: 40px;
    }

    .home-title-name {
        margin-top: 10px;
    }
    
    .header nav ul{
        width: 70%;
    }

    .home-title-introduction{
        font-size: 25px;
    }
    
    .home-title-name{
        font-size: 70px;
    }
    
    .home-title-job{
        font-size: 30px;
    }

    .home-title-social-media img{
        width: 30px;
    }

    .about-section-details{
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-section-details{
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-content {
        max-width: 100%;
        margin-left: 0%;
    }

    .portfolio-section{
        max-width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-height: 550px){
    .home{
        height: 700px;
    }
}

@media screen and (max-width: 625px){
    .menu-toggle{
        margin-right: 1rem;
        display: flex;
    }

    .menu-toggle input.change-width{
        width: 20px;
    }

    .logo {
        margin-left: 1rem;
    }

    .header nav{
        justify-content: space-between;
        padding: 20px 0px;
    }

    .header nav span{
        background: white;
    }

    .header nav.sticky{
        padding: 10px 0;
    }

    .header nav.sticky span{
        background: #ffffff;
    }

    .header nav ul{
        position: absolute !important;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: -1;
        background-color: #20292e;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .header nav ul li a{
        color: #ffffff;
    }

    .header nav ul.slide{
        transform: translateX(0);
        opacity: 1;
    }

    .home-title-introduction{
        font-size: 20px;
    }
    
    .home-title-name{
        font-size: 60px;
    }
    
    .home-title-job{
        font-size: 25px;
    }

    .home-title-social-media img{
        width: 25px;
    }

    .about-section-skills .grip-2{
        grid-template-columns: repeat(1,1fr);
    }

    .contact-section h1{
        font-size: 40px;
    }

    .contact-section p{
        max-width: 100%;
        margin-left: 0;
        font-size: 16px;
    }

    .contact-details div h5{
        font-size: 20px;
     }
     
     .contact-details div h3{
         font-size: 16px;
      }
}

@media screen and (max-width: 484px){
    .logo img{
        width: 150px;
    }

    .home-section{
        max-width: 90%;
        margin-left: 5%;
    }

    .home-title{
        line-height: 30px;
    }

    .home-title-introduction{
        font-size: 17px;
    }
    
    .home-title-name{
        font-size: 50px;
    }
    
    .home-title-job{
        font-size: 21px;
    }

    .home-title-social-media img{
        width: 25px;
    }

    .about-section{
        max-width: 90%;
        margin-left: 5%;
    }

    .about-section-details-image{
        max-width: 60%;
        margin-left: 20%;
    }

    .about-section-title{
        font-size: 30px;
    }

    .about-section-details-text p{
        font-size: 14px;
    }

    .about-section h3{
        font-size: 20px;
    }

    .experience-section {
        max-width: 90%;
        margin-left: 5%;
    }

    .experience-section-title {
        font-size: 30px;
    }

    .experience-section-details div h3 {
        font-size: 18px;
    }

    .experience-section-details div p {
        font-size: 14px;
    }

    .portfolio-section{
        max-width: 90%;
        margin-left: 5%;
    }

    .portfolio-section-title{
        font-size: 30px;
    }
    
    .portfolio-section h3{
        font-size: 20px;
    }

    .portfolio-content p {
        font-size: 14px;
    }

    .contact-section{
        max-width: 90%;
        margin-left: 5%;
    }

    .contact-details div h5{
        font-size: 18px;
     }
     
     .contact-details div h3{
         font-size: 18px;
      }

      .created-by a{
        font-size: 14px;
    }

    .portfolio-section h6, .experience-section h6 {
        font-size: 16px;
        width: 120px;
        background: #00b7c2;
    }
}

@media screen and (max-width: 350px){

    .contact-section{
        margin-top: 12rem;
        max-width: 90%;
        margin-left: 5%;
    }

    .contact-details div h3{
        font-size: 16px;
     }

     .social-media div img{
        width: 30px;
    }

    .created-by a{
        font-size: 12px;
    }
}
